/*-----------------
    RESET
------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-----------------
    GENERAL
------------------*/
body {
  font-family: "Open Sans", serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

/*-----------------
    HEADER
------------------*/
header {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: sticky;
  z-index: 10;
  top: 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  width: 70%;
}
.header-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  gap: 14px;
}

.header-nav a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

.header-nav a:hover {
  color: #0282f9;
}
.header-nav li {
  padding: 60px 0;
}
.active {
  border-bottom: 6px solid #0282f9;
}
.active a {
  color: #0282f9;
}

/*-----------------
    MAIN HERO
------------------*/

.overflow {
  height: 386px;
  overflow: hidden;
}
.overflow img {
  max-width: 100%;
  min-height: 100%;
}

/*-----------------
    MAIN PRODUCTS
------------------*/
.main-products {
  background-color: #1c1c1c;
}
.main-products .container {
  position: relative;
  padding: 30px 0;
}
.main-products h5 {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  padding: 8px 0;
}
.row-comics {
  display: flex;
  flex-wrap: wrap;
}
.col-comics {
  width: calc(100% / 6);
  cursor: pointer;
  padding: 10px;
}
.col-comics:hover .card-comics {
  opacity: 0.7;
  transition: 0.5s;
  transform: scale(0.9);
}
.card-comics {
  height: 200px;
  overflow: hidden;
}
.col-comics img {
  max-width: 100%;
  min-height: 100%;
}
/*-----------------
    MAIN BUTTON
------------------*/
.btn-primary {
  padding: 12px 40px;
  font-weight: 500;
  font-size: 16px;
  background-color: #0282f9;
  border: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}
.btn-primary:hover {
  background-color: #083763;
  transition: 0.5s;
  transform: scale(1.1);
}
.btn-load {
  text-align: center;
}
.btn-up {
  position: absolute;
  top: -20px;
  left: 0;
}
.btn-down {
  margin: 20px auto;
}
/*-----------------
    FOOTER
------------------*/
footer {
  color: white;
}

.footer-top {
  background-color: #0282f9;
}

.footer-top .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 40px;
  row-gap: 16px;
}
.card {
  display: flex;
  align-items: center;
  gap: 8px;
  width: calc(100% / 5);
  cursor: pointer;
}

.card:hover {
  transform: scale(0.9);
}
.card img {
  max-width: 48px;
}
.card h3 {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.footer-center {
  background-image: url("./img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  padding: 40px;
}

.col {
  width: calc(100% / 3);
  padding: 0 10px;
}
.footer-nav ul {
  list-style: none;
}

.col h3 {
  padding: 14px 0;
  text-transform: uppercase;
}
.footer-nav a {
  text-decoration: none;
  text-transform: capitalize;
  color: #808280;
  font-size: 12px;
}

.footer-nav li:hover a {
  color: white;
}
.footer-nav li:hover {
  transform: scale(1.1);
}
.logo-big {
  background-image: url("./img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.footer-bottom {
  background-color: #303030;
}
.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.btn {
  background-color: transparent;
  border: 3px solid #0282f9;
  color: white;
  text-transform: uppercase;
  padding: 16px;
  font-size: 18px;
  transition: 0.5s;
  cursor: pointer;
}

.btn:hover {
  background-color: #0282f9;
  transform: scale(1.1);
  transition: 0.5s;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.social h4 {
  color: #0282f9;
  text-transform: uppercase;
  font-size: 18px;
}
.social .footer-nav ul {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.social .footer-nav img:hover {
  transform: scale(1.1);
  background-color: white;
  border-radius: 100%;
}

/*---MEDIUM-----*/

@media screen and (max-width: 920px) {
  .header-nav li {
    padding: 2px 0;
  }
  .header-nav ul {
    justify-content: flex-start;
  }
  .active {
    border-bottom: 4px solid #0282f9;
  }
  .footer-top .container {
    justify-content: flex-start;
    padding: 40px 40px;
  }
  .col-comics {
    width: calc(100% / 4);
  }
  .card {
    width: calc(100% / 3);
  }
  .row {
    width: 70%;
  }
}

/*---SMALL-----*/
@media screen and (max-width: 620px) {
  .col-comics {
    width: calc(100% / 3);
  }
  .card {
    width: calc(100% / 2);
  }
  .row {
    width: 80%;
  }
}
/*---XS-----*/
@media screen and (max-width: 540px) {
  .col-comics {
    width: calc(100% / 2);
  }
  .card {
    width: calc(100% / 2);
  }
  .row {
    width: 100%;
  }
  .logo-big {
    background-position: center;
  }
  .social {
    justify-content: center;
  }
}
/*---XXS-----*/
@media screen and (max-width: 400px) {
  .col-comics {
    width: calc(100% / 1);
  }
  .card {
    width: calc(100% / 1);
  }

  .card-comics {
    height: 360px;
  }
}
